<h1 class="title">Browsing near you</h1>

<a class="btn btn-primary" href="" role="button">Back to home page</a>
  <% @costumes.each do |costume| %>
  <div class="index-card">
    <img src="">
    <div class="index-card-infos">
    <h2><%= costume.name %></h2>
    <p>Size: <%= costume.size %></p>
    </div>
    <h2 class="">¥<%= costume.price %> per day</p>
    <p>Location</p>
  </div>
  <% end %>
