

<div class = "banner">
  <div class = "container text-left">
    <h1 id="hero"></h1>
    <script>
      $(function() {
        new TypeIt('#hero', {
          speed: 15
        })
          .type("BE KAKASHI_")
          .pause(100)
          .options({ speed: 45 })
          .delete()
          .options({ speed: 45 })
          .pause(100)
          .type('BE SABRE_')
          .pause(100)
          .options({ speed: 45 })
          .delete()
          .options({ speed: 45 })
          .pause(100)
          .type('BE LUFFY_')
          .pause(100)
          .options({ speed: 45 })
          .delete()
          .options({ speed: 45 })
          .pause(100)
          .type('BE ERIN_')
          .pause(100)
          .options({ speed: 45 })
          .delete()
          .options({ speed: 45 })
          .pause(100)
          .type('BE YOU_')
      });
    </script>


    
  </div> 
</div>


    
