.banner {
  background-image: url(https://i.ibb.co/54t4dqB/wallpaperbetter-com-1920x1200.jpg);
  background-size: cover;
  padding: 120px 0px;
  color: white;
}

.banner h1 {
  text-shadow: 4px 3px 3px rgba(40,40,40,0.6);
  font-size: 6 rem;
}