.index-card {
    overflow: hidden;
    background: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin: 0 10px;
    padding: 0;
    position: relative;
    width: 100%;
    border: 1px solid #2D2D2D;
  }

  .index-card > img {
    width: 100%;
    object-fit: cover;
  }

  .index-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  .index-card p {
    font-size: 12px;
    opacity: .9;
    margin: 0;
  }

  .index-card .index-card-infos {
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    color: rgba(240,240,240,.8)
  }

  .index-card-infos .price-card {
    text-align: end;
    color: rgba(240,240,240,.8)
  }

  .index-card-infos .info-card {
    text-align: start;
    color: rgba(240,240,240,.8)
  }


// cards

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-booking {
  width: 800px;
  background: none;
  border: 1px solid #2D2D2D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  height: 240px;
  align-items: flex;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .card-booking {
    width: auto;
  }
}

.card-booking img {
  height: auto;
  width: auto;
  object-fit: contain;
}

.card-booking h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

// .card-booking .index-card-infos {
//   position: relative;
// }

.card-booking p {
  font-size: 14px;
  line-height: 1;
  opacity: .9;
  margin-bottom: 8px;
  margin-top: 8px;
}
