.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3;
  margin: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// @media (max-width: 800px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
