// #zoomIn {
//   // -webkit-transform: scale(1);
//   // transform: scale(1);
//   // -webkit-transition: .3s ease-in-out;
//   transition: .3s ease-in-out;
// }

// #zoomIn:hover {
//   -webkit-transform: scale(1.3);
//   transform: scale(1.3);
// }

.zoom {
  // padding: 50px;
  transition: transform .2s; /* Animation */
  width: auto;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1)
}


.preview-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
