.navbar-dank {
  justify-content: space-between;
  background: none;
  background-color: #000000;
}

.navbar-dank .navbar-collapse {
  flex-grow: 0;
}

.navbar-dank .navbar-brand {
  width: 300px;
}

hr {
  display: block;
  width: 80%;
  border-width: 2px;
  color: rgba(240,240,240,.7);
  margin: auto;
}